/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
 */
 
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  vertical-align: top;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000066;
  }
  &:visited {
    color: #666;
  }

  &.destroy {
	color: #DB4327;
  }
 }

img {
	&.show {
		box-shadow: 0 0 5px #888;
	}

	&.album {
		box-shadow: 0 0 5px #888;
	}
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/**********************************
Sortable tables
***********************************/
#sortable table  {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#sortable th { 
    cursor: pointer;
    padding: 0px;
    color: #ffffff;
	background-color: #000066;
	white-space: nowrap;
	text-align: left;
}

table.dataTable tr.odd { background-color: #CCCCD6; }
table.dataTable tr.even { background-color: white; }

td.details-control {
    background: image-url("expand.png") no-repeat center center;
    cursor: pointer;
}
td.details-control.shown {
    background: image-url("collapse.png") no-repeat center center;
}

#albumList table {
    color: black;
	background-color: white;
	border-collapse: collapse;
	padding: 1px;
	border: 1px solid black;
	text-align: left;
 } 

div.rightH {
	text-align: right;
}

div.leftH {
	text-align: left;
}

td.rightH {
	text-align: right;
}

td.leftH {
	text-align: left;
}
