/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
 */
 


/**********************************
GENERAL
***********************************/
body {
  background-color: #fff;
  color: #333;	
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
}

p, ol, ul, td {
  vertical-align: top;
}

ppre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:hover {
    color: #fff;
    background-color: #000066;
  }
  &:visited {
    color: #666;
  }

  &.destroy {
	color: #FF0000;
  }
 }

img {
	&.show {
		box-shadow: 0 0 5px #888;
	}

	&.album {
		box-shadow: 0 0 5px #888;
	}
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}


/**********************************
HEADER
***********************************/
header {
	color: #FFFFFF;
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background-color: #000066;
	border-bottom: 5px solid #0000FF;
	margin-bottom: 60px;
}

header h1 {
	margin-left: 10px;

}

span.auth {
	float: right;
	margin-right: 10px;
	text-align: right;
	width: 45%;
}

span.auth a, span.auth a:visited {
  color: #fff;
}

span.auth  a:hover {
  color: #0099CC;
}

nav {
	float: left;
	margin-left: 10px;
	text-align: left;
	width: 45%;
}
nav a, nav a:visited {
  color: #fff;
}

nav a:hover {
  color: #0099CC;
}

/**********************************
RAILS INFORMATION/ERRORS (from scaffold)
***********************************/
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/**********************************
SORTABLE TABLES
***********************************/

table.dataTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    padding: 1px 10px 1px 20px;
	background-color: white;
    border-collapse: collapse;
	width: 100%;
}

table.dataTable thead th { 
    padding: 3px 20px 3px 10px;
    border: 1px solid #FFFFFF;
    cursor: pointer;
    color: #ffffff;
	background-color: #000066;
	text-align: left;
}

table.dataTable tbody td {
    padding: 1px 10px 1px 10px;
	border: 1px solid white;
}

table.dataTable td.noWrap {
	white-space: nowrap;
}

table.dataTable tr.even { background-color: #CCCCD6; }
table.dataTable tr.odd { background-color: white; }

td.details-control {
    background: image-url("expand.png") no-repeat center center;
    cursor: pointer;
}
td.details-control.shown {
    background: image-url("collapse.png") no-repeat center center;
}

.rightH {
	text-align: right;
}

.leftH {
	text-align: left;
}

.centerH {
	text-align: center;
}

/**********************************
FOOTER
***********************************/

footer {
	color: #FFFFFF;
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background-color: #000066;
	border-bottom: 5px solid #0000FF;
	margin-bottom: 60px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

